
body {
    padding-top: 50px;
}
.title{
    text-align: center;
}
.choices{
    width: 100%;
    margin-top: 10px;
}
.results>.btn[data-good='1']:not(.btn-success){
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
.results>.btn-success[data-good='0']{
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.navbar-brand>img {
    height: 35px;
    margin: -15px 0px;
}