<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fr.sapk.quizpharma"
        version     = "1.1.5"
        android-versionCode="10105" >
    <name>Quiz Pharma</name>

    <description>
        Une petite application de préparation de concours d'internat de pharma (Valeurs Normales)
    </description>

    <author href="https://sapk.fr" email="antoine.girard@sapk.fr">
        Antoine GIRARD 
    </author>

    <icon src="img/logo.png" />
    
    <preference name="orienation" value="portrait" />
    
    <preference name="SplashScreenDelay" value="50" />
    
    <feature name="http://api.phonegap.com/1.0/storage"/>
    <preference name="phonegap-version" value="cli-6.5.0" />
</widget>
