<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fr.sapk.quizpharma"
        version     = "1.0.0" >

    <name>Quiz Pharma</name>

    <description>
        Une petite application de préparation de concours d'internat de pharma (Valeurs Normales)
    </description>

    <author href="https://sapk.fr" email="sapk@sapk.fr">
        Antoine GIRARD 
    </author>

    <icon src="img/icon.png" />
    
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orienation" value="portrait" />
    
    <feature name="http://api.phonegap.com/1.0/notification"/>
</widget>