<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fr.sapk.quizpharma"
        version     = "1.1.7"
        android-versionCode="101070" >
    <name>Quiz Pharma</name>

    <description>
Une petite application de préparation au concours d'internat de pharma (Valeurs Normales).
Permet de réviser la liste des valeurs normales ainsi que de vérifier quotidiennement votre connaisance de celles-ci simplement.

L'application vous questionne aléatoirement sur les valeurs à connaitre et vous indique vos connaissances de celle-ci pour réviser plus efficacement.
La liste des valeurs normales est disponible au sein de l'application afin de réviser simplement. 
Tout est dans la poche maintenant. Bonnes révisions.
    </description>

    <author href="https://sapk.fr" email="antoine.girard@sapk.fr">
        Antoine GIRARD 
    </author>

    <icon src="img/logo.png" />
    
    <preference name="orienation" value="portrait" />
    
    <preference name="SplashScreenDelay" value="50" />
    
    <feature name="http://api.phonegap.com/1.0/storage"/>
    <preference name="phonegap-version" value="cli-8.0.0" />
</widget>
